*.log

*.py[codt]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

.webassets-cache

# Virtualenvs
env
env*
venv

# intellij
*.ipr
*.iml
*.iws

config/settings/local.py
config/settings/production.py

deploy/production/*

# collect static output directory
turbosmarthome/static/

.DS_Store

# node
node_modules/

# bower packages
turbosmarthome/assets-src/vendor/
.sass-cache/
